@page

@inject AspStatic.IUrlGathererService Urls;

@{
    ViewBag.Title = "Home page";
}

<div class="container text-center">
    <h1>AspStatic Demo</h1>

    <p>This website demonstrate how <code>AspStatic</code> generate static pages.</p>

    <p>
        <a href="/products">Go to Products page</a>
    </p>

    <hr />

    <p>This page also demonstrates all the URLs gathered by the <code>IUrlGathererService</code>. Reload the page after accessing more resources to see more.</p>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Url</th>
                <th>Status Code</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Urls.GetGatheredUrls())
            {
                <tr>
                    <td>@(item.Url)</td>
                    <td>@(item.StatusCode is null ? "N/A" : (int)item.StatusCode)</td>
                </tr>
            }
        </tbody>
    </table>

</div>